{% extends "base.html" %}
{% block title %}UEFA EURO 2024 | IAI at Hochschule Darmstadt{% endblock %}
{% block content %}
    <div class="head-of-page" >
        <h1>UEFA EURO 2024 App</h1>
        <h3>The place where Football and Artificial Intelligence meet</h3>
    </div>

    <div class="index-container">
        <img src="../static/logo/UEFA_EURO_2024_Cover.jpeg">

    </div>

    <a href="/searchDatabase">search the Database</a>

    <div class="about-us-wrap">
        <div class="about-us-content">
            <div class="about-us-title">
                <h3>About our team</h3>
            </div>

            <div class="about-us-body">
                <div class="authors">
                    <p>Vlad Bartolomei</p>
                    <p>Jan Schmalfuss</p>
                    <p>Ly Nguyen</p>
                    <p>Slim Ben-Hamouda</p>
                </div>
                <div class="about-us-end-logo">
                    <img src="../static/logo/UEFA_Euro_2024_Logo.svg" alt="">
                </div>
            </div>
        </div>


    </div>
{% endblock %}